<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hilman.wisatalombok" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wisatalombok"
        android:label="Wisata Lombok"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".activity.HOME"
            android:label="@string/title_activity_home"
             >

        </activity>
        <activity
            android:name=".activity.Boking"
            android:label="@string/title_activity_boking"
            android:parentActivityName=".activity.HOME" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HOME" />
        </activity>
        <activity
            android:name=".activity.PaketWisata"
            android:label="@string/title_activity_paket_wisata"
            android:parentActivityName=".activity.HOME" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HOME" />

        </activity>
        <activity
            android:name=".activity.InformasiPembayaran"
            android:label="@string/title_activity_informasi_pembayaran" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HOME" />

        </activity>
        <activity
            android:name=".activity.DetailPaket"
            android:label="@string/title_activity_detail_paket"
            android:parentActivityName=".activity.PaketWisata" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PaketWisata" />
        </activity>
        <activity
            android:name=".activity.artikel"
            android:label="@string/title_activity_artikel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hilman.wisatalombok.daftarartikel" />

        </activity>
        <activity
            android:name=".activity.listArtikel"
            android:label="Daftar Artikel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HOME" />


        </activity>

    </application>

</manifest>
